<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Register</title>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->


            <!-- Icon -->

            <!-- Register  Form -->

            <form action="getCode" method="POST">
                <h2>
                    <%=msg %>
                </h2>
                <input type="text" id="code" class="fadeIn second" name="code" placeholder="code" required />
                <input type="submit" class="fadeIn fourth" value="OK" />
            </form>

            <!-- Remind Password -->
        </div>
    </div>
</body>

</html>