:root {
  --box-shadow: #2196f3;
  --color-card: #131212;
  --blue-color: #2196f3;
  --blue-alt-color: #1787e0;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #ff1100;
  --grey-color: #888;
  --color-wave: #4973ff;
  /* --color-instagram:#833AB4; */
  --color-instagram: #6c08af;
  --color-instagram-main:  #800080;
  --color-twitch: #6441A4;
  --color-support:#1DB954;
  --color-spotify: #1DB954;
  --color-spanchat: #FFFC00;
  --transition: 0.5s;
}

* {
  user-select: none;
}

*:focus {
  outline: none;
}


body {
  height: 100vh;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #ebf3f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.btn-shape {

  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}

/* .c-instagram {
  display: inline-block;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 40px;
  color: red;
  font-size: 100px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
} */
@media(max-width:767px){
  .sidebar{
    display: none;
  }
}


@media(min-width:767px){
   .mobile-nav{
      display: none;


}

}
.mobile-nav{
      position: absolute;
top: 10px;
    right: 10px; 
}
.toggle{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.toggle.support{
  color: var(--green-color);
}
.nav-switch{
position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    transform: translateX(-100%);
}
.nav-switch.open{
    transform: translateX(0);

}
.nav-switch a{
color: var(--blue-color);
    font-size: 25px;
    display: block;
    text-align: center;
    margin: 20px;
    padding-bottom: 15px;
}
.nav-switch a:hover{
  background-color: black;
}
.nav-switch .close{
  position: fixed;
    top: 20px;
    right: 20px;
    font-size: 35px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.nav-switch .close:hover{
 color: indianred;
 border-color: indianred;
}


input {
  border: none;
}

textarea {
  resize: none;
}

input::placeholder {
  color: black;
}

.submit-btn {
  margin: 15px auto 0;
  display: block;
  font-size: 15px;
  padding: 6px 14px;
  /* background-color: var(--blue-color); */
  color: black;
  border: none;
  border-radius: 6px;
}

.toggle-checkbox {
  appearance: none;
}

.toggle-switch {
  background-color: #eee;
  width: 76px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  left: 4px;
  color: #aaa;
  transition: 0.3s;

}

.toggle-checkbox:checked+.toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);

}

.toggle-checkbox2 {
  appearance: none;
}

.toggle-switch2 {
  background-color: #eee;
  width: 76px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

.toggle-switch2::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  left: 4px;
  color: #aaa;
  transition: 0.3s;

}


/*****************************************************************************************************************************************************/
.page {
  background-color: black;
  color: var(--blue-color);
  min-height: 100vh;
  /* overflow: hidden; */
}
@media(max-width:767px){
  .page .sidebar .info-nameprice{

    font-size: 12px;
    margin-bottom: 25px;
  }
}



.page .sidebar {
  width: 250px;
  box-shadow: 0 0 10px var(--blue-color);
  z-index: 99;
}

.page .sidebar .logo-page {
  margin-bottom: 50px;
}

@media(max-width:767px) {
  .page .sidebar {
    width: 58px;
    padding: 10px;
  }

  .page .sidebar .logo-page {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .page .sidebar .logo-page h2 {
    font-size: 13px;
    margin-top: 0;
    margin-top: 20px;
  }

  .page .sidebar .logo-page img {
    display: none;
  }

  .page .sidebar .logo-page::before,
  .page .sidebar .logo-page::after {
    display: none;
  }



}



.page .sidebar .logo-page img {
  width: 52px;
  height: 52px;
}

.page .sidebar .logo-page::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: var(--blue-color);
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);

}

.page .sidebar .logo-page::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: black;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid var(--blue-color);

}

.page .sidebar ul li a {
  color: var(--blue-color);
  margin-bottom: 5px;

}



@media(max-width:767px) {
  .page .sidebar ul li a span {
    display: none;

  }
}

.page .sidebar ul li a.active,
.page .sidebar ul li a:hover {
  background-color: #131212;

}

@media(max-width:767px) {
  .page .sidebar ul li a {
    width: 32px;
  }
}

.page .sidebar ul li i {
  margin-right: 10px;
}

.page .content h1 {
  position: relative;
  margin: 40px 35px 50px;
}

@media(max-width:767px) {
  .page .content h1 {
    margin: 25px 25px 50px;

  }
}

.page .content h1::before,
.page .content h1::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: -10px;

}

.page .content h1::before {
  width: 120px;
  background-color: white;
}

.page .content h1::after {
  width: 40px;
  background-color: var(--blue-color);
}


/* Start Waves  */
/* .content {
  max-width: 600px;   
  margin: 0 auto; 
  padding: 0 0 0 10px;
  color: var(--blue-color);
} */

.hero {
  position: relative;
  background-color: #333333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255 0.9);

}

@media(max-width:767px) {
  .hero h2 {
    font-size: 45px;
  }

  .hero .content {
    padding: 10px;
  }
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255 0.5);
  line-height: 1.4;


}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color-wave);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;

}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background-color: rgb(66 103 229);
  ;
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background-color: black;
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);

  }



}



/* End Waves  */


/* Start Setting Page  */
.content-setting{
      overflow: hidden;
    padding-right: 20px;
}
.content .user-Name {
  font-size: 20px;
  margin-left: 30px;
   border-radius: 6px;
    padding: 20px;
    transition: 0.6s  ;
}
@media(max-width:767px){
  .content .user-Name{
    width: 75%;
  }
}

.content .user-Name:nth-child(odd){
  background-color: #212529c2;
}
.content .user-Name:nth-child(even){
  background-color: #343a40;
}
.content .user-Name:hover{
  transform: scale(1.03);
      box-shadow: 0 0 20px var(--blue-color);
}




@media(max-width:767px) {
  .content .user-Name {
    font-size: 16px;
  }

}

.content .user {
  width: 74px;
  height: 74px;
  margin: 0 30px 30px;
}





/* End Setting Page  */




/* Start New Order  */
.new-order {

  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));



}

@media(max-width:767px) {
  .new-order {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  }
}

.new-order .box a {
  margin: 20px auto 0;



}

/* .new-order .box.instagram h2,
.new-order .box.instagram a {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: black;
}

.new-order .box.instagram i::before {
  position: absolute;
  top: 66px;
  right: 20px;
  transform: translateY(-50%);

} */


.new-order .box.instagram h2,
.new-order .box.instagram a {
background-color: purple;
    color: black;
}






End  New Order 

/* Start Olvs Page  */
.pages {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 40px;
}

@media(max-width:767px) {
  .pages {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

.pages .box .description {
  height: 200px;
}

/* End Olvs Page  */

/* Start Facebook page  */


.facebook-page .submit-btn {
  background-color: var(--blue-color);
}

/* End Facebook page  */

/* Start Instagram page  */


.page .sidebar.instagramm {
  box-shadow: 0 0 10px #6c08af
}

.page .content.ins h1::after {
  background-color: var(--color-instagram);
}



.instagramm-page .submit-btn {
  background-color: var(--color-instagram);
}



/* End Instagram page  */


/* Start YouTube page  */



.page .sidebar.youtube {
  box-shadow: 0 0 10px red;
}

.page .content.yout h1::after {
  background-color: red;
}








/* End YouTube page  */

/* Start Snapchat page  */



.page .sidebar.snapchat {
  box-shadow: 0 0 10px var(--color-spanchat);
}

.page .content.snap h1::after {
  background-color: var(--color-spanchat);
}








/* End Snapchat page  */

/* Start Snapchat page  */



.page .sidebar.twitch {
  box-shadow: 0 0 10px var(--color-twitch);
}

.page .content.twit h1::after {
  background-color: var(--color-twitch);
}








/* End Snapchat page  */



/* Start Spotify page  */



.page .sidebar.spotify {
  box-shadow: 0 0 10px var(--color-spotify);
}

.page .content.spot h1::after {
  background-color: var(--color-spotify);
}








/* End Spotify page  */

/* Start Support */
.page .sidebar.support {
  box-shadow: 0 0 10px var(--green-color);
}

.page .content.supp h1::after {
  background-color: var(--green-color);
}



.page .content.supp h2.contact {

  font-size: 60px;
  color: var(--green-color);
  background-color: #1c1c1c;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;


}

.page .content .val-cont {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 6px;
}

@media(max-width:767px) {
  .page .content.supp h2.contact {
    font-size: 44px;
  }

  .page .content .val-cont {
    padding: 10px;
  }
}









/* End Support */

/* Start Page Servers Kind */

.page .content .olvs-box-servers-kind{
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px
}
.page .content .olvs-box-servers-kind .box-serves-kind {
  height: 110px;
}
@media(min-width:767px){
.page .content .olvs-box-servers-kind{
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;


}


}




.page .content .olvs-box-servers-kind a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  cursor: pointer; 
  color: var(--blue-color); 
 
}

.page .content .olvs-box-servers-kind .box-serves-kind a{
  color: black;
}
/* @media(max-width:767px) {
  .page .content .olvs-box-servers-kind {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: 600px;
  }
.page .content .olvs-box-servers-kind .box-serves-kind{
  width: 80%;
}

} */

.page .content .olvs-box-service select{
      /* background-color: var(--blue-color); */
    border: none;
    padding: 10px;
    margin-bottom: 25px;
  
}
.page .content .olvs-box-service select:focus{
  min-width: 30px;
}
.page .content .olvs-box-service .btn-shape.service{

border: none;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: var(--blue-color);
    font-size: 20px;
    margin-top: 20px;
    width: 92%;
  }

.page .content .olvs-box-service .button-services{
      padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    /* background-color: var(--blue-color); */
    border: none;
    margin: 25px auto 0;
    display: block;
    width: 60%;
    cursor: pointer;

}
@media(min-width:767px){
.page .content .olvs-box-service select{
      width: 500px;
    padding: 15px;
    font-size: 16px;
    border-radius: 6px;
}
.page .content .olvs-box-service .pg3{
      width: 480px;


}
.page .content .olvs-box-service .button-services{
      margin: 25px 165px 0;
}
}





/* xbvvcv */


/* Start Select  */



.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}


#app-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 42px;
  margin: 110px auto 0 auto;
  z-index: 1;
}
@media(max-width:767px){
  #app-cover{
    width: 200px;
    margin: 100px auto 0 auto;
    top: 10px;
    right: 35px;
    left: 0;
  }
}
#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: var(--blue-color);
  border-radius: 4px;
  color: black;
  cursor: pointer;
  border: none;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: black;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;
}

.options {
  position: absolute;
  left: 0;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}
@media(max-width:767px){
  #options{
    width: 260px;
  }
}
#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color:var(--blue-color);
  transform: scale(0);
}



.olvs-box-service .oov {
position: absolute;
    display: flex;
    bottom: -32px;
    font-size: 12px;
}
.olvs-box-service .oov p {
 padding-left: 20px
}






/* .option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}
.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color:var(--blue-color);
  border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
  width: 150px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
  

}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
  width: 150px;

}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: var(--red-color);

}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
  width: 150px;

}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: var(--color-spanchat);

}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
  width: 150px;

}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: var(--blue-color);

}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
  width: 150px;

}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  border-radius: 0 0 4px 4px;

}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
  width: 150px;

}
.option:nth-child(7) input[type="radio"]:checked ~ .label:before {
  background-color: var(--color-twitch);

}

.option:nth-child(7) input[type="radio"]:checked ~ .opt-val {
  top: -271px;
  width: 150px;

}

.option:nth-child(8) input[type="radio"]:checked ~ .label:before {
  background-color: var(--blue-color);

}

.option:nth-child(8) input[type="radio"]:checked ~ .opt-val {
  top: -311px;
  width: 150px;

}

.option:nth-child(9) input[type="radio"]:checked ~ .label:before {
  background-color: var(--color-spotify);
  border-radius: 0 0 4px 4px;

}

.option:nth-child(9) input[type="radio"]:checked ~ .opt-val {
  top: -351px;
  width: 150px;

}

.option:nth-child(10) input[type="radio"]:checked ~ .label:before {
  background-color: var(--blue-color);
  border-radius: 0 0 4px 4px;

}

.option:nth-child(10) input[type="radio"]:checked ~ .opt-val {
  top: -391px;
  width: 150px;

}
.option .fa-codepen {
  color: #000;
}

.option .fa-dribbble {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-hackerrank {
  color: #32c766;
}

.option .fa-stack-overflow {
  color: #f48024;
}

.option .fa-free-code-camp {
  color: #006400;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: var(--blue-alt-color);
  border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: var(--red-color);
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: var(--color-spanchat);
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: var(--blue-color);
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
}
.option:nth-child(7):hover ~ #option-bg {
  top: 240px;
  background-color: var(--color-twitch);
}
.option:nth-child(8):hover ~ #option-bg {
  top: 280px;
  background-color: var(--blue-color);
}
.option:nth-child(9):hover ~ #option-bg {
  top: 320px;
  background-color: var(--color-spotify);
}
.option:nth-child(10):hover ~ #option-bg {
  top: 360px;
  background-color: var(--blue-color);
  border-radius: 0 0 4px 4px;
}

End Select  */

/* Start Page Order  */






/* .d-card{
    word-break: break-all;
    overflow-x: auto;
    min-width: 1000px;
}

.d-card-box{
    padding: 30px;
}

table thead tr th {
    padding: 20px;
    background-color: #333;
    color: white;
}

tbody tr td {
border-bottom: 2px solid blue;
border-left: 2px solid blue;
padding: 20px;
}


tbody tr td:last-child{
border-right: 2px solid blue;
}


@media (max-width: 991.98px){
.d-card  .d-card-box table{

    display: block;
}
}


@media screen and (max-width: 991.98px) {
.d-card  .d-card-box table {
    margin-bottom: 5px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 11px;
}

} */








.table-containers{
padding: 0 10%;
margin: 40px auto 0;


}
.heading{
font-size: 40px;
text-align: left;
color: #f1f1f1;
margin-bottom: 40px;
padding-left: 20px;

}

.table{
width: 100%;
border-collapse: collapse;


}
.table thead{
  background-color: #3c3f44;
}

.table thead tr th{
font-size: 14px;
font-weight: bold;
letter-spacing: 0.35px;
color: white;
opacity: 1;
padding: 12px;
border: 1px solid black;

}
.Completed{
  color: #01b713 !important;
    border: 2px solid #01b713;
    padding: 3px;
    border-radius: 8px;
}
.Canceled{
  color: #dc3545 !important;
  border: 2px solid #dc3545;
    padding: 3px;
    border-radius: 8px;

}
.Partial{
  color: #4a629c !important;
  border: 2px solid #4a629c;
    padding: 3px;
    border-radius: 8px;

}
.Pending{
    color: #ffc107 !important;
  border: 2px solid #ffc107;
    padding: 3px;
    border-radius: 8px;
}
.table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: bold;
  color: #f1f1f1;
  background-color: #1a76c0b3;
  padding: 8px;
  text-align: center;
  border: 1px solid black;



}


@media (max-width:991px) {
 .table thead {
  display: none;
}
.table,
.table tbody,
.table tr,
.table td{
  display: block;
  width: 100%;
}
.table tr{
  margin-bottom: 20px;
      padding-left: 10px;

}
.table tbody tr td{
  text-align: right;
  padding-left: 60%;
  position: relative;
  word-wrap: break-word;
      width: 33%;
}
.table td::before{
  content: attr(data-label);
  position: absolute;
  left: 0;
  width: 50%;
  padding-left: 15px;
  font-size:14px;
  font-weight: bold;
  text-align: left;

}

}





/* End Page Order  */


.log-out{
  position: absolute;
    top: 7%;
    right: 50px;
  }
  @media(max-width:767px){
    .log-out{
  top: 140px;
    right: 25px;
    }
  }
  
  .log-out input{
    background-color: var(--blue-color);
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    
}











